body {
  background: rgb(157, 157, 224);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

#input-number {
  text-align: center;
  margin: 0 1em 0.5em;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.286);
}

#multable {
  margin: auto 9em;
}

footer {
  color: white;
  text-align: center;
  font-weight: bold;
}
