@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap');

body {
  background: rgb(157, 157, 224);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: max-content;
  margin: auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.286);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin: auto;
}

#number {
  width: fit-content;
  text-align: end;
  margin: auto;
}

#table {
  min-width: 12em;
  max-width: fit-content;
  margin-bottom: 0.5em;
}

#analyze:hover {
  background-color: #c6c6c6;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
